<!-- NAVBAR SECTION STARTS HERE -->
<header>
  <mat-toolbar class="bgapp-secondary-color">
    <mat-toolbar-row>
      <ul class="d-flex align-items-center justify-content-end gap-3 w-100">
        <li class="me-auto color-white">
          <h6>{{ loginUser.userRoleName }} Dashboard</h6>
        </li>
        <li>
          <button mat-icon-button matTooltip="Notifications" [matMenuTriggerFor]="notificationMenu">
            <mat-icon class="font-medium color-white">notifications_none</mat-icon>
            <!-- <span class="counter">{{filteredData.length}}</span> -->
          </button>
          <!-- Notification Menu Template -->
          <mat-menu #notificationMenu="matMenu" yPosition="above" xPosition="before" class="custom-menu-width jerk-bounce-animation">
            <!-- <ng-container *ngIf="filteredData.length > 0; else noNotifications">
              <ng-container *ngFor="let item of filteredData">
                <button mat-menu-item (click)="notificationDetails(item.notificationId)">
                  <div>
                    <p class="mat-body-1">{{item.notificationTitle}}</p>
                    <span class="mat-body-2">{{item.studentFirstName}} {{item.studentLastName}} made her 3rd absent of
                      this month</span>
                  </div>
                  <span class="mat-body-1">{{item.notificationDate | timeFormat}}</span>
                </button>
              </ng-container>
              <mat-divider></mat-divider>
              <button mat-menu-item [routerLink]="['/notifications']">
                <span class="mat-body-1">Show All Notifications</span>
              </button>
            </ng-container>
            <ng-template #noNotifications>
              <button mat-menu-item disabled class="text-center">
                <span class="mat-body-1">No Notifications</span>
              </button>
            </ng-template> -->
          </mat-menu>
        </li>
        <li>
          <button mat-icon-button matTooltip="Fullscreen" (click)="toggleFullscreen()">
            <mat-icon class="font-medium color-white">fullscreen</mat-icon>
          </button>
        </li>
        <li class="d-flex align-items-center">
          <button mat-icon-button matTooltip="Profile" [ngStyle]="profileButton"
            class="app-secondary-color border border-white-all color-white rounded-full overflow-hidden" [matMenuTriggerFor]="userMenu">
            <div *ngIf="!loginUser.userImage">
              {{ loginUser.userFirstName | firstLetter }}
            </div>
            <div *ngIf="loginUser.userImage">
              <img [src]="loginUser.userImage" alt="{{ loginUser.userFirstName }}" />
            </div>
          </button>
          <!-- User Menu Template -->
          <mat-menu #userMenu="matMenu" class="custom-menu-width jerk-bounce-animation">
            <div class="mat-toolbar-row d-flex align-items-center gap-2 mb-2">
              <button mat-icon-button class="app-secondary-color border border-app-all rounded-full" [ngStyle]="profileButton">
                <div>{{ loginUser.userFirstName | firstLetter }}</div>
              </button>
              <div class="w-100">
                <span class="mat-body-1">{{ loginUser?.userName | capitalize }}</span>
              </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item class="custom-mat-menu-item-height d-flex align-items-center justify-content-between"
              [routerLink]="['/profile']">
              <span class="mat-body-1">Profile</span>
              <mat-icon class="me-0">person</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <mat-divider></mat-divider>
            <button mat-menu-item class="custom-mat-menu-item-height d-flex align-items-center justify-content-between"
              (click)="logout()">
              <span class="mat-body-1">Logout</span>
              <mat-icon class="me-0">logout</mat-icon>
            </button>
          </mat-menu>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<!-- NAVBAR SECTION ENDS HERE -->
