<div class="form-wrapper row align-items-center justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 bg-form-wrap mx-auto">
    <div class="top-form-header mb-5">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 text-center">
        <h4 class="color-app-secondary fw-6 mb10 no-select">Welcome</h4>
        <p class="color-white font-xsmall fw-3 text-uppercase no-select">Reset Password</p>
      </div>
    </div>
    <div class="bottom-form-fields">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 d-flex align-items-center justify-content-center">
        <form #ngForgotPassForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

          <!-- New Password -->
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 d-flex align-items-center justify-content-center mb-4">
            <mat-form-field class="example-full-width">
              <mat-label>New Password</mat-label>
              <mat-icon matSuffix (click)="$event.stopPropagation()" (click)="hidePassword = !hidePassword">
                <i [ngClass]="hidePassword ? 'bx bx-hide' : 'bx bx-show'"></i>
              </mat-icon>
              <input matInput [type]="hidePassword ? 'password' : 'text'" preventCopyPaste preventSpace
                formControlName="newPassword">
              <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                Minimum 5 characters required.
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('maxlength')">
                Maximum 15 characters allowed.
              </mat-error>
              <mat-error
                *ngIf="resetPasswordForm.get('newPassword').hasError('pattern') && !resetPasswordForm.get('newPassword').hasError('minlength') && !resetPasswordForm.get('newPassword').hasError('maxlength')">
                Password must contain at least one uppercase letter, one lowercase letter, and one digit.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- New Confirm Password -->
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 d-flex align-items-center justify-content-center mb-4">
            <mat-form-field class="example-full-width">
              <mat-label>Confirm Password</mat-label>
              <mat-icon matSuffix (click)="$event.stopPropagation()"
                (click)="hideConfirmPassword = !hideConfirmPassword">
                <i [ngClass]="hideConfirmPassword ? 'bx bx-hide' : 'bx bx-show'"></i>
              </mat-icon>
              <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" preventCopyPaste preventSpace
                formControlName="newConfirmPassword">
              <mat-error
                *ngIf="resetPasswordForm.get('newConfirmPassword').hasError('passwordMismatch') ? false : resetPasswordForm.get('newConfirmPassword').hasError('required')">Confirm
                password is
                required</mat-error>
              <mat-error *ngIf="resetPasswordForm.get('newConfirmPassword').hasError('passwordMismatch')">Passwords do
                not
                match</mat-error>
            </mat-form-field>
          </div>

          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-0 p-0 d-flex flex-column align-items-center justify-content-center">
            <button mat-flat-button type="submit" [disabled]="isLoading || resetPasswordForm.invalid">
              <span *ngIf="isLoading" class="loader-ripple">
                <div></div>
                <div></div>
              </span>
              <span *ngIf="isLoading" class="loading-text">Processing<span class="dots"></span></span>
              <span *ngIf="!isLoading">Reset</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
