<section>
  <app-page-toolbar [pageName]="'Categories'"></app-page-toolbar>
  <mat-card class="bgapp-secondary-color">

    <ng-container *ngIf="isfilterCategoriesHandler">
      <mat-card class="rounded-top">
        <form [formGroup]="categoryFilterForm">
          <div class="row">
            <!-- Category Status -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pl-0 d-flex align-items-center justify-content-center">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Category Status</mat-label>
                <mat-select formControlName="categoryStatus" (selectionChange)="onFilterChange()">
                  <mat-option [value]="'true'">Active</mat-option>
                  <mat-option [value]="'false'">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Start Date -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pl-0 d-flex align-items-center justify-content-center">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startPicker" (focus)="startPicker.open()" (input)="startPicker.open()"
                  formControlName="categoryStartDate" placeholder="Select start date" readonly
                  (dateChange)="onFilterChange()">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-error *ngIf="categoryFilterForm.get('categoryStartDate').hasError('invalidDateRange')">
                  Start date must be earlier than end date.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- End Date -->
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pl-0 d-flex align-items-center justify-content-center">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="endPicker" (focus)="endPicker.open()" (input)="endPicker.open()"
                  formControlName="categoryEndDate" placeholder="Select end date" readonly
                  (dateChange)="onFilterChange()">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
                <mat-error *ngIf="categoryFilterForm.get('categoryEndDate').hasError('invalidDateRange')">
                  End date must be later than start date.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>
    </ng-container>

    <div class="full-screen-container mat-elevation-z8 bgColor-transparent rounded h-100">
      <mat-card>
        <!-- Mat Table Header Start -->
        <mat-card-header class="position-relative d-flex align-items-center gap-3 p-3 rounded-top">
          <mat-card-title class="m-0 ms-1 no-select d-flex align-items-center gap-3">
            <span>Categories View</span>
          </mat-card-title>

          <!-- Category Search String -->
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pl-0 d-flex align-items-center justify-content-center">
            <mat-form-field appearance="outline" class="example-full-width custom-border">
              <mat-label>Category Search</mat-label>
              <input matInput [formControl]="categorySearch" placeholder="Search category" (keyup)="onFilterChange()">
            </mat-form-field>
          </div>

          <ul class="d-flex ms-auto gap-2">
            <li>
              <button mat-icon-button class="mat-custom-button app-secondary-color p-3"
                matTooltip="See categories Logs">
                <mat-icon class="font-mat-icon">history</mat-icon>
              </button>
            </li>

            <li>
              <button mat-icon-button class="mat-custom-button app-secondary-color p-3" matTooltip="Filter Categories"
                (click)="isShowfilterCategory()">
                <mat-icon class="font-mat-icon">filter_alt</mat-icon>
              </button>
            </li>

            <li>
              <button mat-icon-button class="mat-custom-button app-secondary-color p-3" matTooltip="Refresh"
                (click)="refreshCategoryPage()">
                <mat-icon class="font-mat-icon">refresh</mat-icon>
              </button>
            </li>

            <li>
              <button mat-icon-button class="mat-custom-button app-secondary-color p-3" matTooltip="Add Category"
                (click)="addCategory()">
                <mat-icon class="font-mat-icon">add</mat-icon>
              </button>
            </li>
          </ul>
        </mat-card-header>
        <!-- Mat Table Header End -->

        <!-- Mat Table Start -->
        <mat-card-content>
          <!-- Table -->
          <app-dynamic-table [columns]="columns" [filterOptions]="filterOptions" [apiUrl]="'Category/getCategories'"
            (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)" (onActive)="handleActive($event)">
          </app-dynamic-table>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Mat Table End -->
  </mat-card>
</section>