<section>
  <app-page-toolbar [pageName]="'Categories'"></app-page-toolbar>
  <mat-card>
    <div class="full-screen-container mat-elevation-z8 bgColor-transparent rounded h-100">
      <!-- HTML Template -->
      <mat-card-header
        class="position-relative d-flex align-items-center justify-content-between py-2 px-3 rounded-top">
        <mat-card-title class="m-0 ms-1 no-select d-flex align-items-center gap-3">
          <h5>Categories View</h5>
        </mat-card-title>
        <mat-form-field appearance="outline" class="filter-input w-50">
          <mat-label>Search Categories</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Type to filter..." />
        </mat-form-field>

        <ng-container>
          <ul class="d-flex">
            <li>
              <mat-card-actions class="ms-auto p-0 m-0">

                <button mat-icon-button class="mat-custom-button ms-1 app-secondary-color" matTooltip="Add Product"
                  (click)="addCategory()">
                  <mat-icon class="font-xlarge">add</mat-icon>
                </button>
              </mat-card-actions>

            </li>
          </ul>
        </ng-container>

        <hr class="position-absolute w-100 mb-0 start-0 bottom-0" />
      </mat-card-header>

      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" class="mat-table">

          <!-- Product ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let cateogry"> {{ cateogry.id }} </mat-cell>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let cateogry"> {{ cateogry.name }} </mat-cell>
          </ng-container>

          <!-- Display Order Column -->
          <ng-container matColumnDef="displayOrder">
            <mat-header-cell *matHeaderCellDef> Display Order </mat-header-cell>
            <mat-cell *matCellDef="let cateogry"> {{ cateogry.displayOrder }} </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let cateogry">
              <mat-card-actions class="p-0 m-0">

                <button mat-icon-button class="mat-custom-button ms-1 app-secondary-color" matTooltip="Edit Category"
                  (click)="editCategory(cateogry)">
                  <mat-icon class="font-xlarge" color="primary">edit</mat-icon> <!-- Static icon name -->
                </button>
              </mat-card-actions>
              <mat-card-actions class="p-0 m-0">

                <button mat-icon-button class="mat-custom-button ms-1 app-secondary-color" matTooltip="Delete Category"
                  (click)="deleteCategory(cateogry)">
                  <mat-icon class="font-xlarge color-danger">delete</mat-icon> <!-- Static icon name -->
                </button>
              </mat-card-actions>
            </mat-cell>
          </ng-container>

          <!-- Header Row -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <!-- Data Rows -->
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div *ngIf="categories?.length === 0" class="text-center mt-2"><span>No data found</span></div>

        <!-- Paginator -->
        <mat-paginator [length]="length" class="pb-3" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]"
          showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card>
</section>
