  <!-- ========== contact Section start Here========== -->
  <section class="contact padding-top padding-bottom">
    <div class="container">
      <div class="contact__wrapper">
        <div class="row g-5">
          <div class="col-lg-6">
            <div class="contact__info">
              <div class="common-header">
                <p class="subtitle">The Meadows Suites</p>
                <h2>Know more about <br> our Suites</h2>
              </div>
              <p>Experience luxury at Meadow Suites in Gulshan-e-Iqbal. Choose from our Block 4 (10 rooms), Block 3 (12 rooms), or Block 13D (6 rooms) locations. Enjoy top-notch amenities and exceptional service at each branch.
              </p>
              <ul class="contact__info-list">
                <li class="contact__info-item">
                  <div class="contact__info-icon">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="contact__info-content">
                    <h6>Branch: Gulshan-e-Iqbal Block 3 </h6>
                    <p> House A-150, Gulshan-e-Iqbal Block 3, Near KDA Market <br>
                      Call us: 03306662844</p>
                  </div>
                </li>
                <li class="contact__info-item">
                  <div class="contact__info-icon">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="contact__info-content">
                    <h6>Branch: Gulshan-e-Iqbal Block 4 </h6>
                    <p> House B-9/4, Gulshan-e-Iqbal Block 4, Near Disco Bakery<br>
                      Call us: 03337915777</p>
                  </div>
                </li>
                <li class="contact__info-item">
                  <div class="contact__info-icon">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <div class="contact__info-content">
                    <h6>Branch: Gulshan-e-Iqbal Block 13D </h6>
                    <p> B-86 Gulshan-e-Iqbal Block 13D <br>
                      Call us: 0331 6662844  </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact__form">
              <h4>Send us a message</h4>
              <form action="#">
                <div class="row g-4">
                  <div class="col-md-6">
                    <div class="booking__form-inputgroup">
                      <div class="booking__form-input">
                        <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="booking__form-inputgroup">
                      <div class="booking__form-input">
                        <input type="email" class="form-control" placeholder="Your Email">
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="booking__form-inputgroup">
                      <div class="booking__form-input">
                        <input type="text" class="form-control" placeholder="Subject">
                      </div>
                    </div>
                  </div>
                  <div class=" col-12">
                    <div class="booking__form-inputgroup">
                      <div class="booking__form-input">
                        <textarea class="form-control textarea" placeholder="Your Message..."> </textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="custom-btn mt-40"><span>Submit Now</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ========== contact Section ends Here========== -->





  <!-- ========== Map Section start Here========== -->
  <div class="map paddding-top padding-bottom">
    <div class="container">
      <div class="map__wrapper">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d72786.95261279827!2d24.6004849!3d55.2428558!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e797094f7b1aad%3A0x400d18c70e9dc00!2sUkmerg%C4%97%2C%20Ukmerg%C4%97%20District%20Municipality%2C%20Lithuania!5e0!3m2!1sen!2sbd!4v1685078327628!5m2!1sen!2sbd"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <!-- ========== Map Section ends Here========== -->
