/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: Rejouice;
  src: url(./assets/font/Rejouice-Headline.ttf);
}

@font-face {
  font-family: NBInternational;
  src: url(./assets/font/NBInternationalProBoo.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rejouice", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body, html {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-image: url(./assets/images/app-bg-banner/bg-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  color: var(--app-dark-theme);
}

sup {
  top: -0.3rem;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: text;
}

.no-select-cursor {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.anchor-hover:hover {
  transition: 0.2s all ease-in-out;
  text-decoration: underline;
  color: var(--app-secondary-color);
}

.mat-flat-button:hover {
  background-color: var(--app-secondary-color-hover);
}

button:disabled {
  background-color: #dcb7587d !important;
  color: #fcfcfc9e !important;
  cursor: not-allowed !important;
}

body .loader-ripple {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px !important;
}

.loader-ripple div {
  position: absolute;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid;
  border-radius: 50%;
  opacity: 1;
}

.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1rem;
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0%, 20% {
      content: '';
  }
  40% {
      content: '.';
  }
  60% {
      content: '..';
  }
  80%, 100% {
      content: '...';
  }
}

@keyframes loader-ripple {
  0% {
    top: 10px;
    left: 3px;
    opacity: 1;
    width: 4px;
    height: 4px;
  }

  100% {
    top: -3px;
    left: -10px;
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}

.no-select-context {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: context-menu;
}

::-webkit-scrollbar {
  width: 0.2rem;
  overflow-y: scroll;
  box-shadow: inset 0 0 5px var(--color-white);
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--app-secondary-color);
  border-radius: 0.1rem;
}

ul,
ol {
  padding-left: 0 !important;
  list-style: none;
  margin-bottom: 0 !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--color-white) !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
  --app-linear: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  --app-linear-hover: -webkit-linear-gradient(0deg, #8490ffe0 0%, #62bcfcda 100%);
  --app-secondary-color: #dcb658;
  --app-secondary-color-hover: #dcb758e5;
  --app-dark-theme: #000000;
  --app-light-theme: #ffffff;
  --color-white: #ffffff;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-lighter-blue: #0d6dfd1c;
  --color-blue: #0d6efd;
  --color-normal: #525252;
  --color-lighter: #858585;
  --color-more-lighter: #f2f8fd;
  --color-darker: rgb(39, 39, 39);
  --font-xsmall: 0.7rem;
  --font-small: 1rem;
  --font-medium: 2rem;
  --font-large: 3rem;
  --font-mat-icon: 1.433rem;
  --max-widthpx: 980px;
  --max-widthper: 83.3333%;
  --heightfull: 100%;
  --heighthalf: 50%;
  --widthfull: 100%;
  --widthhalf: 50%;
  --width10: 10%;
  --width20: 20%;
  --width24: 24%;
  --width25: 25%;
  --width30: 30%;
  --width40: 40%;
  --width50: 50%;
  --width60: 60%;
  --width70: 70%;
  --width80: 80%;
  --width90: 90%;
  --heightfullvh: 100vh;
  --heighthalfvh: 50vh;
  --widthfullvw: 100vw;
  --widthhalfvw: 50vw;
  --unit-fx: calc(var(--widthfullvw) / 1440);
  --unit-fy: calc(var(--heightfullvh) / 996);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0 !important;
  margin: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: var(--blue) auto 1px !important;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* remove material all over the classes */
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: unset !important;
  font-weight: 500 !important;
  letter-spacing: normal;
}

.mat-button-wrapper,
.mat-icon {
  width: 100% !important;
  height: 100% !important;
}

.custom-menu-width {
  width: 12em !important;
}

.custom-mat-menu-item-height {
  height: 35px !important;
}

/* auth layout Styling  */
.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 99.9dvh;
}

.auth-wrapper .container {
  margin-top: 8.5rem;
}

.auth-wrapper .logo {
  height: 6.5rem;
}

.auth-wrapper header {
  position: fixed;
  top: 0;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
  background-image: url(./assets/images/app-bg-banner/bg-banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.auth-wrapper footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-wrapper .form-wrapper > .bg-form-wrap {
  background-color: #3b3b3b18;
  backdrop-filter: blur(0.3em);
  padding: 2rem;
  border-radius: 0.4rem;
}
/* auth layout Styling  */

/* mat progress bar loader classes start here */
.mat-progress-bar {
  position: fixed !important;
  top: 0;
  max-width: 100%;
  z-index: 1000000;
}

.mat-progress-bar .mat-progress-bar-fill::after {
  background-color: var(--app-secondary-color) !important;
}
/* mat progress bar loader classes end here */

/* mat toolbar classes start here */
.mat-toolbar-single-row {
  height: 3.2rem;
}

/* mat toolbar classes end here */

/* mat card classes start here */
.mat-card-header {
  background-color: #f8f8f8;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #d8d8d8;
}

.mat-card-header .mat-card-header-text {
  margin: 0 !important;
}

.mat-card-header hr {
  border-top: 2px solid var(--app-secondary-theme) !important;
  opacity: 0.8;
}

.mat-card-header .mat-card-title h5 {
  font-size: var(--font-small);
  color: var(--heading-color-normal);
  white-space: nowrap;
}

.mat-card-header .mat-card-title.flex-column h5 {
  color: var(--color-darker);
}

.mat-card-header .mat-card-title span {
  font-size: var(--font-small);
  color: var(--color-lighter);
  bottom: 0.2em !important;
  left: 0.2em !important;
  position: sticky;
}

.mat-icon-button.mat-custom-button {
  min-width: auto !important;
  padding: 0 !important;
  line-height: inherit !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  background: var(--color-white) !important;
  box-shadow: inset rgb(0 0 0 / 9%) 0px 0px 3px 1px;
  border: 2px dotted var(--app-secondary-color);
  overflow: hidden;
}

.mat-card>:first-child, .mat-card-content>:first-child {
  z-index: 1;
}

.mat-card-content>:last-child:not(.mat-card-footer) {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

/* mat card classes end here */

/* mat grid classes start here */
.mat-grid-list {
  padding-bottom: 0 !important;
  height: 3rem;
}

.mat-grid-tile {
  margin-top: 0 !important;
  padding-top: 0 !important;
  height: 100% !important;
}

.mat-grid-tile .mat-figure {
  padding: 0.3em !important;
}

.mat-grid-list .mat-grid-tile .mat-form-field {
  max-width: 25em !important;
}

/* mat grid classes end here */

/* mat form field classes start here */
form {
  width: var(--widthfull);
}

form .mat-flat-button {
  background-color: var(--app-secondary-color);
  color: var(--color-white);
  width: var(--widthfull) !important;
  height: 3.3em !important;
  padding: 0.8em 1rem;
  letter-spacing: 0.11rem;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

form a,
form .anchor-button {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 0.7rem;
  margin-top: 1rem;
  background-color: transparent !important;
  outline: none;
  border: none;
}

.mat-form-field {
  width: var(--widthfull);
  height: 2.5em !important;
}

.mat-form-field-appearance-legacy .mat-form-field-ripple,
.mat-form-field-appearance-legacy .mat-form-field-underline,
.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  color: var(--color-white);
}

.mat-form-field-appearance-legacy .mat-form-field-ripple,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--color-white) !important;
}

.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-underline,
.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-suffix .mat-icon {
  color: var(--app-secondary-color);
}

.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-focused:not(.mat-form-field-invalid) .mat-form-field-underline,
.mat-form-field-appearance-legacy.mat-form-field-should-float:not(.mat-form-field-invalid) .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-form-field-should-float:not(.mat-form-field-invalid) .mat-form-field-underline {
  background-color: var(--app-secondary-color) !important;
}

.mat-form-field-appearance-legacy.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field-appearance-legacy.mat-form-field-invalid .mat-form-field-underline {
  background-color: var(--color-danger) !important;
}

.field-theme-black .mat-form-field-ripple,
.field-theme-black .mat-form-field-underline,
.field-theme-black .mat-form-field-label,
.field-theme-black .mat-form-field-prefix .mat-icon,
.field-theme-black .mat-form-field-suffix .mat-icon {
  color: var(--color-lighter);
}

.field-theme-black .mat-form-field-ripple,
.field-theme-black .mat-form-field-underline {
  background-color: var(--color-lighter) !important;
}

.mat-form-field.mat-focused:not(.ng-invalid) .mat-form-field-outline,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-outline,
.mat-form-field.mat-focused:not(.ng-invalid) .mat-form-field-label,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-label,
.mat-form-field.mat-focused:not(.ng-invalid) .mat-form-field-prefix .mat-icon,
.mat-form-field.mat-focused:not(.ng-invalid) .mat-form-field-suffix .mat-icon,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-prefix .mat-icon,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-suffix .mat-icon,
.mat-form-field.mat-focused:not(.ng-invalid) .mat-select-arrow,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-select-arrow,
.mat-option.mat-active {
  color: var(--app-secondary-color) !important;
}

.mat-form-field-appearance-outline.mat-focused:has(.ng-invalid) .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-outline,
.mat-form-field-appearance-outline.mat-focused:has(.ng-invalid) .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-label,
.mat-form-field-appearance-outline.mat-focused:has(.ng-invalid) .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-outline.mat-focused:has(.ng-invalid) .mat-form-field-suffix .mat-icon,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-prefix .mat-icon,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-suffix .mat-icon,
.mat-form-field-appearance-outline.mat-focused:has(.ng-invalid) .mat-select-arrow,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-select-arrow {
  color: var(--color-danger) !important;
}

.mat-form-field-appearance-outline:not(.ng-invalid) .mat-form-field-ripple,
.mat-form-field-appearance-outline:not(.ng-invalid) .mat-form-field-underline {
  color: var(--app-secondary-color);
  background-color: var(--app-secondary-color) !important;
}

.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-ripple,
.mat-form-field-appearance-outline.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-underline {
  color: var(--color-danger);
  background-color: var(--color-danger) !important;
}

.mat-form-field,
.mat-form-field-appearance-outline .mat-select,
.mat-form-field-appearance-outline .mat-form-field-infix,
.mat-form-field-appearance-outline .mat-form-field-flex,
.mat-form-field-appearance-outline .mat-form-field-wrapper,
.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-infix input.mat-input-element,
.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix,
.mat-form-field-appearance-outline .mat-form-field-label-wrapper,
.mat-form-field-appearance-outline .mat-form-field-label,
.mat-select-trigger {
  height: 100%;
  padding: 0;
  margin: 0 !important;
  top: 0 !important;
  border-top: 0 !important;
  box-sizing: border-box !important;
}

.mat-form-field .mat-form-field-flex {
  align-items: center !important;
}

.mat-form-field .mat-form-field-infix .mat-select-value,
.mat-form-field .mat-form-field-infix .mat-select-trigger,
.mat-form-field-appearance-outline .mat-form-field-label {
  max-width: 100% !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.mat-form-field-wrapper .mat-form-field-label-wrapper {
  overflow: visible !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  transition: transform 500ms cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 500ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.mat-form-field-appearance-legacy .mat-input-element {
  color: var(--color-white) !important;
  caret-color: var(--color-white);
}

.mat-form-field-appearance-outline .mat-input-element,
.field-theme-black .mat-input-element,
.field-theme-black input:-webkit-autofill, 
.field-theme-black input:hover, 
.field-theme-black input:focus, 
.field-theme-black input:active {
  color: var(--color-darker) !important;
  caret-color: var(--color-darker);
  -webkit-text-fill-color: var(--color-darker) !important;
}

.mat-form-field .mat-form-field-infix .mat-select-value,
.mat-form-field .mat-form-field-infix .mat-input-element {
  font-size: 0.8em !important;
}

.mat-form-field .mat-form-field-infix input.mat-input-element {
  margin-top: 0.2em !important;
}

.mat-form-field .mat-form-field-infix .mat-select-value {
  margin-top: 0.5em !important;
}

.mat-form-field .mat-form-field-prefix .mat-icon-button,
.mat-form-field .mat-form-field-suffix .mat-icon-button  {
  width: 1em !important;
  height: 100% !important;
}

.mat-form-field .mat-form-field-prefix .mat-icon,
.mat-form-field .mat-form-field-suffix .mat-icon {
  font-size: 120% !important;
  cursor: pointer !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 0 !important;
  top: calc(100% - -0.5em) !important;
  max-width: fit-content !important;
}

.mat-form-field.mat-focused:not(.ng-invalid) .mat-form-field-label,
.mat-form-field.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-label,
.mat-form-field.mat-focused:has(.ng-invalid) .mat-form-field-label,
.mat-form-field.mat-form-field-should-float:has(.ng-invalid) .mat-form-field-label {
  transform: translateY(-0.8em) scale(0.75) !important;
}

.mat-form-field .mat-select-arrow-wrapper {
  transform: none !important;
}

.mat-form-field.custom-border .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

.mat-form-field.custom-border .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
  min-width: 28px !important;
}

.mat-form-field.custom-border.mat-focused:not(.ng-invalid) .mat-form-field-label,
.mat-form-field.custom-border.mat-form-field-should-float:not(.ng-invalid) .mat-form-field-label {
  transform: translate(1.3em, -0.8em) scale(0.75) !important;
}

.mat-form-field .mat-form-field-infix {
  border-top: 0 !important;
}

.mat-form-field .mat-button-ripple.mat-ripple,
.mat-form-field .mat-button-focus-overlay {
  top: 50% !important;
  left: 50% !important;
  width: 30px !important;
  height: 30px !important;
  transform: translate(-50%, -50%);
}
/* mat select */
.mat-option.mat-selected::after {
  content: '✔';
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--app-secondary-theme) !important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-size: 0.9em !important;
  line-height: 3em !important;
  height: 2.5em !important;
}

.mat-calendar-body-selected {
  background-color: var(--app-secondary-color);
}

.mat-form-field.mat-form-field-can-float .mat-datepicker-toggle-active,
.mat-datepicker-toggle-active {
  color: var(--app-secondary-color) !important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 0.5em !important;
  top: 3em;
}
/* mat form field classes end here */

/* mat accrordian classes start here */
.mat-expansion-panel-header {
  height: 3.8em !important;
  justify-content: space-between;
}

.mat-expansion-panel,
.mat-accordion {
  display: flex !important;
  flex-direction: column;
}

.mat-expansion-panel.mat-expanded {
  order: -1;
}

.mat-expansion-panel-spacing {
  margin-top: 0 !important;
}

.mat-expansion-panel-header .mat-content {
  overflow: visible !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: unset !important;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  position: sticky;
  top: 0;
  background-color: var(--color-lighter-blue) !important;
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header .left .mat-icon {
  background-color: var(--color-white) !important;
}

.mat-expansion-panel-body {
  padding: 0.8em !important;
}

/* mat accrordian classes end here */

/* mat toggle classes start here */
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: var(--app-secondary-color) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--color-white);
}

.mat-slide-toggle {
  height: 1.2rem !important;
}

.mat-slide-toggle *:not(.mat-slide-toggle-ripple) {
  height: 100% !important;
  top: 0 !important;
}

.cdk-visually-hidden {
  left: 0 !important;
  margin: 0 !important;
  position: absolute;
}

.mat-slide-toggle-bar {
  border-radius: 10em !important;
}

/* mat toggle classes end here */

/* mat some classes remove line height specify in this section classes start here */
.mat-stroked-button, .mat-flat-button, .material-icons {
  line-height: inherit !important;
  width: auto !important;
  height: auto !important;
}

.mat-icon-button {
  line-height: inherit !important;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button-wrapper>* {
  vertical-align: inherit !important;
  height: auto !important;
}

/* mat some classes remove line height specify in this section classes end here */

/* mat table classes start here  */
.mat-table {
  background: none !important;
}

.mat-header-row {
  min-height: 2.5em !important;
  background: var(--color-more-lighter) !important;
  border-bottom: 2px solid var(--app-secondary-color);
  color: var(--app-secondary-color) !important;
}

.mat-header-cell {
  color: var(--app-secondary-color) !important;
}

.mat-header-cell,
.mat-cell, .mat-footer-cell {
  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: visible;
}

.mat-row, .mat-footer-row {
  min-height: 2.8em !important;
  max-height: 2.8em !important;
}

/* .mat-row:last-child {
  border-bottom: none !important;
} */

.mat-table-column-width-1 {
  max-width: 1%;
}

.mat-table-column-width-2 {
  max-width: 2%;
}

.mat-table-column-width-3 {
  max-width: 3%;
}

.mat-table-column-width-4 {
  max-width: 4%;
}

.mat-table-column-width-5 {
  max-width: 5%;
}

.mat-table-column-width-6 {
  max-width: 6%;
}

.mat-table-column-width-7 {
  max-width: 7%;
}

.mat-table-column-width-8 {
  max-width: 8%;
}

.mat-table-column-width-9 {
  max-width: 9%;
}

.mat-table-column-width-10 {
  max-width: 10%;
}

.mat-table-column-width-11 {
  max-width: 11%;
}

.mat-table-column-width-12 {
  max-width: 12%;
}

.mat-table-column-width-13 {
  max-width: 13%;
}

.mat-table-column-width-14 {
  max-width: 14%;
}

.mat-table-column-width-15 {
  max-width: 15%;
}

.mat-table-column-width-16 {
  max-width: 16%;
}

.mat-table-column-width-17 {
  max-width: 17%;
}

.mat-table-column-width-18 {
  max-width: 18%;
}

.mat-table-column-width-19 {
  max-width: 19%;
}

.mat-table-column-width-20 {
  max-width: 20%;
}

.mat-table-column-width-21 {
  max-width: 21%;
}

.mat-table-column-width-22 {
  max-width: 22%;
}

.mat-table-column-width-23 {
  max-width: 23%;
}

.mat-table-column-width-24 {
  max-width: 24%;
}

.mat-table-column-width-25 {
  max-width: 25%;
}

.mat-table-column-width-26 {
  max-width: 26%;
}

.mat-table-column-width-27 {
  max-width: 27%;
}

.mat-table-column-width-28 {
  max-width: 28%;
}

.mat-table-column-width-29 {
  max-width: 29%;
}

.mat-table-column-width-30 {
  max-width: 30%;
}

.mat-table-column-width-31 {
  max-width: 31%;
}

.mat-table-column-width-32 {
  max-width: 32%;
}

.mat-table-column-width-33 {
  max-width: 33%;
}

.mat-table-column-width-34 {
  max-width: 34%;
}

.mat-table-column-width-35 {
  max-width: 35%;
}

.mat-table-column-width-36 {
  max-width: 36%;
}

.mat-table-column-width-37 {
  max-width: 37%;
}

.mat-table-column-width-38 {
  max-width: 38%;
}

.mat-table-column-width-39 {
  max-width: 39%;
}

.mat-table-column-width-40 {
  max-width: 40%;
}

.mat-table-column-width-41 {
  max-width: 41%;
}

.mat-table-column-width-42 {
  max-width: 42%;
}

.mat-table-column-width-43 {
  max-width: 43%;
}

.mat-table-column-width-44 {
  max-width: 44%;
}

.mat-table-column-width-45 {
  max-width: 45%;
}

.mat-table-column-width-46 {
  max-width: 46%;
}

.mat-table-column-width-47 {
  max-width: 47%;
}

.mat-table-column-width-48 {
  max-width: 48%;
}

.mat-table-column-width-49 {
  max-width: 49%;
}

.mat-table-column-width-50 {
  max-width: 50%;
}

.mat-table-column-width-51 {
  max-width: 51%;
}

.mat-table-column-width-52 {
  max-width: 52%;
}

.mat-table-column-width-53 {
  max-width: 53%;
}

.mat-table-column-width-54 {
  max-width: 54%;
}

.mat-table-column-width-55 {
  max-width: 55%;
}

.mat-table-column-width-56 {
  max-width: 56%;
}

.mat-table-column-width-57 {
  max-width: 57%;
}

.mat-table-column-width-58 {
  max-width: 58%;
}

.mat-table-column-width-59 {
  max-width: 59%;
}

.mat-table-column-width-60 {
  max-width: 60%;
}

.mat-table-column-width-61 {
  max-width: 61%;
}

.mat-table-column-width-62 {
  max-width: 62%;
}

.mat-table-column-width-63 {
  max-width: 63%;
}

.mat-table-column-width-64 {
  max-width: 64%;
}

.mat-table-column-width-65 {
  max-width: 65%;
}

.mat-table-column-width-66 {
  max-width: 66%;
}

.mat-table-column-width-67 {
  max-width: 67%;
}

.mat-table-column-width-68 {
  max-width: 68%;
}

.mat-table-column-width-69 {
  max-width: 69%;
}

.mat-table-column-width-70 {
  max-width: 70%;
}

.mat-table-column-width-71 {
  max-width: 71%;
}

.mat-table-column-width-72 {
  max-width: 72%;
}

.mat-table-column-width-73 {
  max-width: 73%;
}

.mat-table-column-width-74 {
  max-width: 74%;
}

.mat-table-column-width-75 {
  max-width: 75%;
}

.mat-table-column-width-76 {
  max-width: 76%;
}

.mat-table-column-width-77 {
  max-width: 77%;
}

.mat-table-column-width-78 {
  max-width: 78%;
}

.mat-table-column-width-79 {
  max-width: 79%;
}

.mat-table-column-width-80 {
  max-width: 80%;
}

.mat-table-column-width-81 {
  max-width: 81%;
}

.mat-table-column-width-82 {
  max-width: 82%;
}

.mat-table-column-width-83 {
  max-width: 83%;
}

.mat-table-column-width-84 {
  max-width: 84%;
}

.mat-table-column-width-85 {
  max-width: 85%;
}

.mat-table-column-width-86 {
  max-width: 86%;
}

.mat-table-column-width-87 {
  max-width: 87%;
}

.mat-table-column-width-88 {
  max-width: 88%;
}

.mat-table-column-width-89 {
  max-width: 89%;
}

.mat-table-column-width-90 {
  max-width: 90%;
}

.mat-table-column-width-91 {
  max-width: 91%;
}

.mat-table-column-width-92 {
  max-width: 92%;
}

.mat-table-column-width-93 {
  max-width: 93%;
}

.mat-table-column-width-94 {
  max-width: 94%;
}

.mat-table-column-width-95 {
  max-width: 95%;
}

.mat-table-column-width-96 {
  max-width: 96%;
}

.mat-table-column-width-97 {
  max-width: 97%;
}

.mat-table-column-width-98 {
  max-width: 98%;
}

.mat-table-column-width-99 {
  max-width: 99%;
}

.mat-table-column-width-100 {
  max-width: 100%;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--app-secondary-color) !important;
}
/* mat table classes end here  */

/* mat tabs classes start here  */
.mat-tab-label {
  height: 3em !important;
}

/* mat tabs classes end here  */

/* transition classes start here */
.transition {
  transition: 0.2s all ease-in-out;
}

/* transition classes start here */

/* remove mat button ripple css start here */
.no-ripple {
  --mat-ripple-color: transparent;
  pointer-events: none;
}

/* remove mat button ripple css end here */

/* cursor classes start here */
.cursor-pointer {
  cursor: pointer;
}

/* cursor classes end here */

/* for font sizes classes start here  */
.font-xsmall {
  font-size: var(--font-xsmall) !important;
}

.font-small {
  font-size: var(--font-small) !important;
}

.font-medium {
  font-size: var(--font-medium) !important;
}

.font-large {
  font-size: var(--font-large) !important;
}

.font-mat-icon {
  font-size: var(--font-mat-icon) !important;
}
/* for font sizes classes end here  */

/* color classes start here */
.color-app {
  color: var(--app-linear);
}

.color-app-secondary {
  color: var(--app-secondary-color);
}

.color-dark {
  color: var(--color-darker);
}

.color-danger {
  color: var(--color-danger);
}

.color-white {
  color: var(--color-white);
}

.color-lighter {
  color: var(--color-lighter);
}

.color-lighter-2 {
  color: var(--color-more-lighter);
}

.color-normal {
  color: var(--color-normal);
}

/* color classes end here */

/* background color classes start here */
.bgcolor-app {
  background: var(--app-linear) !important;
}

.bgcolor-lighter-blue {
  background-color: var(--color-lighter-blue);
}

.bgapp-secondary-color {
  background-color: var(--app-secondary-color) !important;
}

.bgcolor-dark {
  background-color: var(--color-darker);
}

.bgcolor-white {
  background-color: white !important;
}

.bgcolor-danger {
  background-color: var(--color-danger);
}

.bgcolor-transparent {
  background-color: transparent !important;
}

/* background color classes end here */

/* border classes start here */
.border-white-all {
  border: 1px solid var(--color-white) !important;
}

.border-grey-all-1 {
  border: 1px solid var(--color-more-lighter);
}

.border-grey-top-1 {
  border-top: 1px solid var(--color-more-lighter);
}

.border-grey-bottom-1 {
  border-bottom: 1px solid var(--color-more-lighter);
}

.border-grey-left-1 {
  border-left: 1px solid var(--color-more-lighter);
}

.border-grey-right-1 {
  border-right: 1px solid var(--color-more-lighter);
}

.border-danger-all {
  border: 1px solid var(--color-danger) !important;
}

.border-app-all {
  border-color: var(--app-secondary-color) !important;
}
/* border classes end here */

/* mat dialog classes start here */
/* .mat-dialog-container {
  background-color: #bbbbbb50 !important;
  backdrop-filter: blur(1em) !important;
} */
/* mat dialog classes end here */

/* mat actions button classes start here */
.mat-dialog-actions {
  min-height: auto !important;
  margin-bottom: 0 !important;
}

.mat-raised-button,
.mat-warn {
  min-width: 100px !important;
}
/* mat actions button classes end here */

/* height classes start here */
.h50vh {
  height: 50dvh;
}

.minh65vh {
  min-height: 65vh;
}

.mh70vh {
  min-height: 70dvh;
}

.h80vh {
  height: 89dvh;
}
/* height classes end here */
.tbl-first-col {
  max-width: 5rem;
  border-right: 1px solid rgba(0,0,0,.12);
  margin-right: 2rem;
}

.mat-row {
  cursor: pointer;
  transition: 0.2ms all ease-in-out;
}

.mat-row:hover {
  background-color: var(--color-more-lighter);
}

.snackbar-success {
  background-color: var(--color-success);
}

.snackbar-danger {
  background-color: var(--color-danger);
}

.z-index-1000 {
  z-index: 1000;
}
/* font weight classes start here */
.fw-in {
  font-weight: inherit;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}
/* font weight classes start here */

/* Custom classes start here */
.full-screen-container {
  margin-top: -0.5rem;
}
/* Custom classes end here */

@media (max-width: 767px) {
  :root {
    --unit-fx: var(--unit-fy);
  }
}
