::ng-deep .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay, .mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0 !important;
}

.custom-button {
  min-width: 3em !important;
}

::ng-deep .custom-button .mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
  border-radius: 50% !important;
  height: 2.99em;
}

header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header-fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.header-fixed.show {
  transform: translateY(0);
  opacity: 1;
}

.logo {
  height: 5em !important;
}

.nav-links a {
  color: var(--color-white);
  transition: 0.2s all ease-in-out;
}

.header-fixed.show .nav-links a {
  color: var(--app-dark-theme);
}

header .nav-links a.router-link-active,
.nav-links a:hover {
  color: var(--app-secondary-color) !important;
}

.nav-right-button li a {
  border: 1px solid grey;
  padding: 0.5em 1em;
  border-radius: 10em;
}
